<div class="component-container">
  <div>
    <h1 class="text-color">Popis studenata</h1>
    <div class="filters-container">
        <input type="text" placeholder="Enter JMBAG"
               [(ngModel)]="jmbagFilter"
               (input)="onFilterByJmbagChanged()"
               class="search-bar accent-dark text-color rounded"
        >
      <button class="sort-btn rounded accent-light text-color"
        (click)="onToggleSort()"
      >Promijeni sort</button>
    </div>
    <div *ngFor="let student of (studentService.getStudents() | async)"
         class="list-item"
    >
      <a (click)="onStudentSelected(student)">
        <p class="jmbag-field accent-dark p-s rounded-left">{{student.jmbag}}</p>
        <p class="ects-field accent-light p-s rounded-right">{{student.ectsPoints}} ECTS</p>
      </a>
    </div>
    <app-details *ngIf="selectedStudent"
                 [student]="selectedStudent"
                 class="text-color"
    ></app-details>
  </div>
</div>
