<div class="container py-4">
    <h2 class="mb-4 text-primary text-center">{{ 'HISTORY_LOGIN' | translate }}</h2>
    <div class="shadow rounded border border-light">
        <table class="table bg-white">
            <thead class="bg-light text-muted">
            <tr>
                <th scope="col" class="py-3 px-6 text-uppercase sort-header"
                    [class.sort-asc]="sort.column === 'username' && !sort.desc"
                    [class.sort-desc]="sort.column === 'username' && sort.desc"
                    (click)="sortData('username')">{{ 'USERNAME' | translate }}</th>
                <th scope="col" class="py-3 px-6 text-uppercase sort-header"
                    [class.sort-asc]="sort.column === 'roleName' && !sort.desc"
                    [class.sort-desc]="sort.column === 'roleName' && sort.desc"
                    (click)="sortData('roleName')">{{ 'ROLE_NAME' | translate }}</th>
                <th scope="col" class="py-3 px-6 text-uppercase sort-header"
                    [class.sort-asc]="sort.column === 'dateTimeLogin' && !sort.desc"
                    [class.sort-desc]="sort.column === 'dateTimeLogin' && sort.desc"
                    (click)="sortData('dateTimeLogin')">{{ 'TIME_LOGIN' | translate }}</th>
                <th scope="col" class="py-3 px-6 text-uppercase sort-header"
                    [class.sort-asc]="sort.column === 'dateTimeLogoff' && !sort.desc"
                    [class.sort-desc]="sort.column === 'dateTimeLogoff' && sort.desc"
                    (click)="sortData('dateTimeLogoff')">{{ 'TIME_LOGOFF' | translate }}</th>
            </tr>

            </thead>
            <tbody>
            <tr *ngFor="let login of logins">
                <td class="py-3 px-6">{{login.username}}</td>
                <td class="py-3 px-6">{{login.roleName}}</td>
                <td class="py-3 px-6">{{this.datePipe.transform(login.dateTimeLogin, 'dd.MM.yyyy. HH:mm')}}</td>
                <td class="py-3 px-6">{{this.datePipe.transform(login.dateTimeLogoff, 'dd.MM.yyyy. HH:mm')}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
