.sort-header {
    cursor: pointer;
    border-right: 1px solid #dee2e6;
    padding-right: 2rem;
    position: relative;
}

.sort-header::after {
    content: '';
    position: absolute;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sort-header.sort-asc::after {
    border-bottom: 5px solid #000;
    top: 50%;
    transform: translateY(-50%);
}

.sort-header.sort-desc::after {
    border-top: 5px solid #000;
    bottom: 50%;
    transform: translateY(50%);
}

