<div class="container py-4">
    <h2 class="mb-4 text-primary text-center">Login History</h2>
    <div class="shadow rounded border border-light">
        <table class="table bg-white">
            <thead class="bg-light text-muted">
            <tr>
                <th scope="col" class="py-3 px-6 text-uppercase">ID</th>
                <th scope="col" class="py-3 px-6 text-uppercase">Username</th>
                <th scope="col" class="py-3 px-6 text-uppercase">Role Name</th>
                <th scope="col" class="py-3 px-6 text-uppercase">Login Time</th>
                <th scope="col" class="py-3 px-6 text-uppercase">Logoff Time</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let login of logins">
                <td class="py-3 px-6">{{login.id}}</td>
                <td class="py-3 px-6">{{login.username}}</td>
                <td class="py-3 px-6">{{login.roleName}}</td>
                <td class="py-3 px-6">{{login.dateTimeLogin}}</td>
                <td class="py-3 px-6">{{login.dateTimeLogoff}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
