<nav class="navbar fixed-top bg-light navbar-light navbar-expand-lg p-0 shadow-sm">
    <a [routerLink]="['/']" class="navbar-brand">
        <h3 class="ml-2 mb-0 mt-0 float-right" style="line-height: 40px">Student <span>APP</span></h3>
    </a>

    <button (click)="toggleNavbar()" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent"
            data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto pl-3">
            <ul class="navbar-nav" *ngIf="isUserLoggedIn()">
                <li class="nav-item">
                    <a class="nav-link cursor-pointer">
                        <span>{{ 'USERNAME' | translate }}: {{userService?.currentUser?.username}}</span>
                    </a>
                </li>
                <ng-container *ngIf="userService.isRoleUser()">
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer">
                            <span>|</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cursor-pointer">
                            <span>{{ 'LAST_LOGIN' | translate }}: {{lastLoginDateTime}}</span>
                        </a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer">
                        <span>|</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer">
                        <span>{{ 'ROLE' | translate }}: <span>{{userService.currentUser.role}} </span></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer">
                        <span>|</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor-pointer" id="logout" (click)="logout()">
                        <span> {{ 'LOGOUT' | translate }}</span>
                    </a>
                </li>
            </ul>

            <li class="nav-item" routerLink="/login" *ngIf="!isUserLoggedIn()">
                <a class="nav-link cursor-pointer" id="login">
                    <span> {{ 'LOGIN' | translate }}</span>
                </a>
            </li>
            <!-- Language dropdown -->
            <li class="nav-item">
                <div ngbDropdown class="d-inline-block mx-3">
                    <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>
                        <img [src]="flag" alt="{{selectedLanguage | uppercase}}" class="p-1 pr-3">
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                        <button ngbDropdownItem (click)="switchLang('hr')" *ngIf="selectedLanguage !== 'hr'">
                            <img src="https://flagcdn.com/w40/hr.png" alt="HR">
                        </button>
                        <button ngbDropdownItem (click)="switchLang('en')" *ngIf="selectedLanguage !== 'en'">
                            <img src="https://flagcdn.com/w40/us.png" alt="EN">
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
