<a [routerLink]="['/list']" class="link-btn bg-accent-dark inline-block w-auto p-4 my-4">Back to the list</a>
<ng-container *ngIf="student else loading">
  <h3>{{student.jmbag}} - detalji studenta</h3>
  <p>JMBAG: {{student.jmbag}}</p>
  <p>Broj ECTS bodova: {{student.ectsPoints}}</p>
  <p>{{student.shouldPayTuition ? 'Student treba platiti školarinu' : ''}}</p>
  <ng-container *ngIf="Number.parseInt(student.jmbag) % 2 !== 0">
    <p>Ime: {{student.fullName}}</p>
    <p>Godina upisa prvog semestra: {{student.enrolledStudiesAtYear}}</p>
    <p>Trenutni semestar: {{student.currentSemester}}</p>
  </ng-container>
</ng-container>
<ng-template #loading>
  <h3>Loading student info...</h3>
</ng-template>
