<div class="row">
  <div class="col-md-6" *ngIf="student">
    <div class="card">
    <div class="card-header">
        {{ 'STUDENT_DETAILS' | translate }}
    </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            {{student.firstName}} {{student.lastName}}
          </div>
          <div class="col-md-12">
              <div class="col-md-12">
                  {{student.jmbag}} <small id="jmbag" class="d-inline text-muted">{{ 'JMBAG' | translate }}</small>
              </div>
          </div>
            <div class="col-md-12">
                {{student.ectsPoints}} <small id="ects" class="d-inline text-muted">{{ 'ECTS' | translate }}</small>
            </div>
            <div class="col-md-12" *ngIf="student.tuitionShouldBePaid">
                {{ 'STUDENT_MUST_PAY' | translate }}
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6" *ngIf="courses">
    <div class="card">
        <div class="card-header">
            {{ 'ENROLLED_COURSES' | translate }}
        </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12" *ngFor="let course of courses">
            {{course.name}}
          </div>
            <div class="col-md-12" *ngIf="courses.length === 0">
                {{ 'NO_ENROLLED_COURSES' | translate }}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-secondary float-right" routerLink="/students">{{ 'BACK_TO_OVERVIEW' | translate }}</button>
