.sort-btn:hover {
  background-color: var(--background-dark);
}

.delete-btn:hover {
  background-color: var(--primary-text);
  color: var(--background-dark);
}

.student-link {
  color: var(--primary-text);
}

.student-link:hover {
  border: solid 1px white;
  border-radius: 0.375rem;
}
