@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 2rem;
  background-color: #0d0c0b;
  color: var(--primary-text);
  max-width: 22.5rem;
}

:root {
  --primary-text: #ffffff;
  --secondary-text: #969699;
  --background-dark: #1e2230;
  --background-light: #2e344a;
}

.text-dark {
  color: var(--secondary-text);
}

.bg-accent-dark {
  background-color: var(--background-dark);
}

.bg-accent-light {
  background-color: var(--background-light);
}

.link-btn {
  color: var(--primary-text);
}

.link-btn:hover {
  color: var(--secondary-text);
}
